<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Hello World - A Maldição</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/parte2.css">
</head>
<body background="../imgs/worldmap.jpg">
<nav class="navbar navbar-inverse bg-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">HW-Maldição</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="../index.html">Home</a></li>
            <li><a href="parte4.html">Mate a Maldição</a></li>
        </ul>
    </div>
</nav>

<h1 align="center">Hello World!!</h1>

<ul class="fancy">
    <li><h1>Hello World!!</h1></li>
    <li><h2>Olá Mundo!!</h2></li>
    <li><h3>Hola Mundo!!</h3></li>
    <li><h4>Bonjour le Monde!!</h4></li>
    <li><h5>Hallo Welt!!</h5></li>
    <li><h6>Sawubona Umhlaba!!</h6></li>
</ul>

<div class="moreFancy">
    <p>
        Digite aqui motivos para amar o mundo !!
        Salve-se da maldição
    </p>

    <textarea>Digita, é sério!!</textarea>
    <br>
    <button class="btn btn-success">Salve-se</button>
</div>

<img class="fancyImage" src="../imgs/world.png">

</body>
</html>